.EditButton, .DeleteButton, .simpleBtn{
  width: 40%;
  height: 32px;
  color: white;
  background-color: rgb(104, 200, 207);
  border: 0px;
  margin: 6px;
}

.parent {
  display: flex;
}

.parent-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adminMaincont {
  margin: 32px auto;
  width: 70%;
  background-color: rgb(214, 214, 214);
}

.EditField {
  background-color: rgb(228, 250, 228);
  width: 80%;
  padding: 32px 0px;
  margin: 62px auto 0;
}

/* transition name="fade" */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.DeleteButton {
  background-color: rgb(207, 107, 104);
}

.MenberContainer div {
  display: inline-block;
  margin: 12px 32px;
}
.MenberContainer {
  padding-top: 16px;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(238, 232, 232, 0.705);
}

.width100{
  width: 100%;
}